body {
    font-family: 'Open Sans', sans-serif;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%) fixed;
    color: #F2F2F1;
    margin-top: 75px;
}
main {
    margin: 0 auto;
    border-radius: 15px;
    max-width: 1000px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
footer {
    text-align: center;
    margin-top: 50px;
}
.current-date-block {
    padding: 25px;
}
.current-city {
    font-size: 50px;
    font-weight: 600;
}
.current-date {
    font-size: 25px;
    font-weight: 400;
    color: rgba(234, 240, 246, 0.8);
}

/* SEARCH INPUT BLOCK */

.search-form {
    margin-top: 25px;
}
.search-input {
    color: rgba(39, 33, 66, .4);
    font-size: 16px;
    border: none;
    border-radius: 6px;
    padding: 5px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.search-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.search-button, .find-me-button {
    width: 75px;
    text-align: center;
    margin: 5px;
    padding: 7px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    border: none;
    background-color: #8BC6EC;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.search-button:hover,
.find-me-button:hover {
    background-color: #EC6E4C;
    border-color: #EC6E4C;
    transition: all 0.4s 0s ease-in-out;
}
.search-button:focus,
.find-me-button:focus {
    background-color: #EC6E4C;
    border-color: #EC6E4C;
}

/* CURRENT WEATHER BLOCK */

.current-weather-block {
    border-right: 2px solid rgba(234, 240, 246, 0.4);
    padding: 25px;
}
.main-icon {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.main-icon:hover {
    transform: scale(1.2);
}
.current-temperature-col {
    margin-right: 25px;
}
.current-temperature {
    font-size: 75px;
    font-weight: 600;
}
.unit {
    font-weight: 300;
    font-size: 25px;
}
.farenheit-unit,
.celsius-unit {
    color: #fff;
}
.farenheit-unit:hover,
.celsius-unit:hover {
    color: #EC6E4C;
    transition: all 0.4s 0s ease-in-out;
}
.separator {
    font-size: 25px;
}
.description {
    color: rgba(234, 240, 246, 0.8);
    font-size: 27px;
    text-align: center;
}

/* PRECIPITATION BLOCK */

.precipitation {
    padding: 15px;
}
.precipitation-block {
    padding-left: 25px;
    padding-top: 10px;
    
}
.precipitation-list {
    padding: 0;
    margin: 0 auto;
}
.precipitation-item {
    list-style: none;
}
.sunrise-block, 
.sunset-block {
    padding-left: 75px;
}
.sunset-block {
    margin-left: 20px;
}
.forecast-wind,
 .current-sunrise, 
 .forecast-humidity, 
 .current-sunset,
 .forecast-temperature { 
    color: rgba(234, 240, 246, 0.8);
    font-size: 20px;
}
.forecast-wind-value,
.sunrise-value, 
.forecast-humidity-value, 
.sunset-value {
    font-size: 27px;
}

/* FORECAST BLOCK */

.forecast {
    margin: 0 auto;
}
.forecast-block {
    background-color: rgba(156, 160, 165, 0.3);
    margin: 15px 25px 5px 35px;
    text-align: center;
    border-radius: 10px;
    max-width: 150px;
}
.forecast-icon:hover {
    transform: scale(1.2);
}
.forecast-day {
    font-size: 27px;
    margin-top: 10px;
}

/* FOOTER BLOCK */

.subscription {
    color: #4f81c7;
    text-decoration: none;
}
.subscription:hover {
    color: #EC6E4C;
    text-decoration: none;
}
