body {
    font-family: 'Open Sans', sans-serif;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%) fixed;
    color: #F2F2F1;
    margin-top: 100px;
}
main {
    margin: 0 auto;
    border-radius: 15px;
    max-width: 1000px;
    height: 550px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
footer {
    text-align: center;
    margin-top: 50px;
}
.current-date-block {
    background-color: aquamarine;
    padding: 25px;
}
.current-city {
    font-size: 50px;
    font-weight: 600;
}
.current-date {
    font-size: 25px;
    font-weight: 400;
    color: rgba(234, 240, 246, 0.8);
}
.input {
    background-color: lightpink;
    padding: 25px;
}
.input-form {
    width: 200px;
}
.search-button, .find-me-button {
    width: 75px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    border-color: #8BC6EC;
    background-color: #8BC6EC;
    border-width: 2px;
}
.search-button:hover,
.find-me-button:hover {
    background-color: #EC6E4C;
    border-color: #EC6E4C;
    transition: all 0.4s 0s ease-in-out;
}
.search-button:focus,
.find-me-button:focus {
    background-color: #EC6E4C;
    border-color: #EC6E4C;
}
.current-weather-block {
    background-color: yellow;
    padding: 25px;
}
.precipitation {
    background-color: lightsalmon;
    padding: 25px;
}
.precipitation-block {
    padding-left: 75px;
    padding-top: 10px;
    
}
.precipitation-list {
    padding: 0;
    margin: 0 auto;
}
.precipitation-item {
    list-style: none;
}
.sunset-block {
    margin-left: 20px;
}
.forecast-wind,
 .current-sunrise, 
 .forecast-humidity, 
 .current-sunset,
 .forecast-temperature { 
    color: rgba(234, 240, 246, 0.8);
    font-size: 20px;
}
.forecast-wind-value,
.sunrise-value, 
.forecast-humidity-value, 
.sunset-value {
    font-size: 27px;
}

.forecast {
    background-color: lightgreen;
    margin: 0 auto;
    
}
.forecast-block {
    background-color: rgba(156, 160, 165, 0.8);
    margin: 15px 25px 5px 35px;
    text-align: center;
    border-radius: 10px;
    max-width: 150px;
}
.forecast-day {
    font-size: 27px;
    margin-top: 10px;
}
